body{
	font-size: 14px;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	background: url(../images/hoppoles_large.jpg) no-repeat center top fixed;
}

nav{
	width: 100%;
	height: auto;
	position: absolute;
	margin-top: 18em;
}

h2{
	background: #0D3D2B;
	display: block;
	position: absolute;
	top: 5%;
	padding: 1%;
	/*left: 2%;*/
}

a{
	text-decoration: none;
	color: #2BC98F;
}

footer{
	clear: both;
}

.buttons{
	float: left;
	min-width: 300px;
}

.nav_image{
	width: 100%;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

#about{
	width: 20%;
	margin-left: 4%;
	margin-right: 2%;
	
}

#produce{
	width:20%;
	margin: 0 2%;

}

#gallery{
	width: 20%;
	margin: 0 2%;
}

#contact{
	width:20%;
	margin-left: 2%;
	margin-right: 4%;
}

@media only screen and (max-width: 1500px){
	.buttons{
		width: 40%;
	}

	#about, #gallery{
		margin-left: 8%;
		margin-right: 4%;
	}

	#produce, #contact{
		margin-left: 4%;
		margin-right: 8%;
	}
}

