body{
	font-size: 14px;
	font-family: 'Merriweather', serif;
	font-weight: 400;
	background-color: #fff;
	/*background: url(../images/hoppoles_large.jpg) no-repeat center top fixed;*/
}

header{
	height: 500px;
	width: 100%;
	background-color: #0D3D2B;
}

nav{
	width: 90%;
	height: auto;
	position: relative;
	margin: -10em auto;
}

h2{
	background: #0D3D2B;
	display: block;
	position: absolute;
	top: 5%;
	padding: 1%;
	left: 2%;
}

a{
	display: block;
	position: relative;
	text-decoration: none;
	color: #2BC98F;
}

footer{
	clear: both;
	position: absolute;
	bottom: 0;
}

ul{
	width: 100%;
}

.buttons{
	float: left;
	width: 23%;
	margin: 1%;
	min-width: 300px;
}

.nav_image{
	width: 100%;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

/*#about{
	width: 20%;*/
	/*margin-left: 4%;
	margin-right: 2%;
	
}

#produce{
	width:20%;
	margin: 0 2%;

}

#gallery{
	width: 20%;
	margin: 0 2%;
}

#contact{
	width:20%;
	margin-left: 2%;
	margin-right: 4%;
}*/

@media only screen and (max-width: 1500px){

	nav{
		width: 60%;
}

	.buttons{
		width: 48%;
		margin: 1%;
	}

	#about, #gallery{
		margin-left: 8%;
		margin-right: 4%;
	}

	#produce, #contact{
		margin-left: 4%;
		margin-right: 8%;
	}
}

