body{color: #2D76FF;
background-color: #000000;
font-size: 20px;
text-align: center;
font-family: helvetica, sans-serif;
}
h1{font-weight: 700;
margin: 10px;

}
#slogan{text-style: italic;
text-decoration: underline;
padding: 5px 10px;

}
#description{margin: 0px 100px;

}
#contact{color: #ffffff;
}