body{color: #2D76FF;
background-color: #ffffff;
font-size: 20px;
text-align: center;
font-family: helvetica, sans-serif;
}
h1{font-family: "old style", serif;
	font-weight: 700;
	letter-spacing: 2px;
	margin: 10px;

}
#slogan{font-style: italic;
text-decoration: underline;
padding: 5px 10px;

}
#description{margin: 0px 500px;


}

a{color: #000000;

}
 ul{text-transform: uppercase;
 }