body{color: #0D3D2B;
background-color: #2BC98F;
font-size: 20px;
text-align: center;
font-family: 'Oldenburg', sans-serif;
}
h1{font-family: "palatino linotype", serif;
	font-weight: 700;
	letter-spacing: 2px;
	margin: 10px;

}
#slogan{font-style: italic;
text-decoration: underline;
padding: 5px 10px;

}
#description{margin: 0px 700px;


}

a{color: #000000;

}
 ul{text-transform: uppercase;
 }