html{
	background: url("images/twistblurlight.jpg") no-repeat center center fixed;
	background-size: cover;
	font-family: 'Playfair Display', serif;
	margin: 0 auto;
	height: 100vh;


	
}


div{
	margin: 10% auto;
	background: rgba(255,255,255,.5);
	width: 960px;
	height: 400px;
	border-radius: 7px;

}

img{
	padding:56px 48px;
}

nav{
	margin:0 auto;
	text-align: center;
	width: 960px;
	height: 60px;
}

ul{
	margin:0 auto;
	height: 60px;
}

li{
	list-style: none;
  	padding: 15px 5px;
  	margin:0 5px;
  	text-align: center;
  	border-radius: 5px;
  	font-size: 14pt;
  	box-shadow: 0 0 0 1px rgba(255,255,255,.5);
  	width: 210px;
  	float: left;

}

li:hover{
	background: rgba(255,255,255,.5);
	box-shadow: rgba(255,255,255,.5);
	color: rgba(255,255,255,0);
}

a{
	text-decoration: none;
	color:#fff;
	width:210px;
	display:block;
}
